Importando as bibliotecas necessárias

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler

Lendo os dados e verificando sua distribuição

In [2]:
wine_quality_data_frame = pd.read_csv('winequality-red.csv')
wine_quality_data_frame.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

Verificando se o conjunto de dados possuim algum valor nulo

In [3]:
wine_quality_data_frame.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

Agora, em vez que classificarmos os vinhos como antes, os vinhos com qualidade maior ou igual a '7' serão bons, recebendo '1' enquanto os menores que '7' serão ruins, recebendo '0'. Dividindo os dados e separando em dados de treino e de teste e usando uma escala, temos:

In [4]:
wine_quality_data_frame['quality'].replace({3 : 0, 4 : 0, 5 : 0, 6 : 0, 7 : 1, 8 : 1}, inplace = True)
X = wine_quality_data_frame.drop('quality', axis = 1)
y = wine_quality_data_frame['quality']
mm = MinMaxScaler()
X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train = mm.fit_transform(X_train)
X_test = mm.fit_transform(X_test)

Agora, treinaremos os modelos

In [5]:
svm_linear_c1 = SVC(kernel = 'linear', C = 1.0)
svm_linear_c1.fit(X_train, y_train)
svm_linear_c1.score(X_test, y_test)

0.8675

In [6]:
svm_linear_c2 = SVC(kernel = 'linear', C = 2.0)
svm_linear_c2.fit(X_train, y_train)
svm_linear_c2.score(X_test, y_test)

0.8675

In [7]:
svm_poly_d2 = SVC(kernel = 'poly', degree = 2)
svm_poly_d2.fit(X_train, y_train)
svm_poly_d2.score(X_test, y_test)

0.895

In [8]:
svm_poly_d3 = SVC(kernel = 'poly', degree = 3)
svm_poly_d3.fit(X_train, y_train)
svm_poly_d3.score(X_test, y_test)

0.8825

In [9]:
svm_rbf = SVC(kernel = 'rbf')
svm_rbf.fit(X_train, y_train)
svm_rbf.score(X_test, y_test)

0.8825